params {
    clusterOptionsBasic = '-P re_gecip_hearing_and_sight'
    mysql_tunnel_port = 24060
    hostname = 'jyu@corp.gel.ac@phpgridzlogn001.int.corp.gel.ac'
    hostport = 3306
    ssh_key = '/home/jyu/.ssh/id_ed25519'
    sqlite_db = "$baseDir/data/gel_cnv_nextflow.db"
    utilsh_path = '/re_gecip/hearing_and_sight/JingYu/SV_mysql_import/bin/utils.sh'
    patients_csv = "$baseDir/input/all_families"
    patients_csv_other = "$baseDir/input/for_Jing_fam_IDs_reverse_genetics_ciliopathies_SKB_13.8.21"
    outdir = "$baseDir/report/all_families_2021-08-08"
    outdir_other = "/re_gecip/shared_allGeCIPs/JingYu-SV-query/reverse_genetics_ciliopathies_SKB_2021-08-13"
    genes_csv = "$baseDir/input/protein_coding_genes"
    maxForks = 100
}
profiles {
    cluster {
        process.executor = 'lsf'
        process.queue = 'short'
        process.memory = '2G'
    }
}

